@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@300;400&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

html {
    height: webkit-fill-avaliable;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

body {
    color: #0C4A60;;
    background: rgb(134,232,255);
    background: linear-gradient(90deg, rgba(134,232,255,1) 0%, rgba(255,240,201,1) 20%, rgba(255,238,194,1) 80%, rgba(134,232,255,1) 100%);
    height: webkit-fill-avaliable;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}

.nav {
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #0C4A60;;
}
.show {
    color: #0C4A60;
    background-color: rgba(255,240,201,1);
}

.dropdown-toggle {
    max-width: fit-content !important;
    border: 1px solid #0C4A60!important;
}

.dropdown-toggle:hover {
    background-color: #0C4A60;
}

.dropdown-toggle:hover .burger {
    background-color: rgba(255,240,201,1);
}

.dropdown-item:hover {
    background-color: #0C4A60;
    color: rgba(255,240,201,1);
}

.burger {
    margin: 5px auto;
    width: 20px;
    height: 2px;
    background-color: #0C4A60;
    border-radius: 3px;
}
.burger:not(:last-child){
    margin-bottom: 2px;
}

.dropdown-toggle::after {
    display: none !important;
}

.playerField {
    background-color: white;
    border-radius: 5px;
    height: 500px;
    width: 24%;
    border: 0.3px solid lightgray;
    box-shadow: 4px 4px 4px 4px gray;
}

.container {
    padding: 0px!important;
    margin: 5rem!important;
    margin-bottom: 0!important;
}

.players {
    max-height: fit-content!important;
    margin: 0!important;
    width: 100%!important;
}

.image-holder {
    position: relative;
    /* border: 1px solid; */
    border-radius: 5px 5px 0 0;
    padding: 4px;
    width: 100%;
    height: 30%;
    background-color: whitesmoke ;
    
}

.type-field {
    padding: 5px;
    /* border: 1px solid; */
    height: 57%;
    margin-bottom: 0px!important;
}

textarea {
    height: 100%;
    width: 100%;
    resize: none;
}

.score-field {
    
    margin-top: 0;
    padding: 5px;
    height: 7%;
    /* border: 1px solid; */
}

.score {
    background-color: #ABDFF1; 
    /* background-color: rgb(134,232,255);; */
    border-radius: 3px;
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

#slika {
    display: none;
}

label {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 10px;
    color: #FFF8DC;
    outline: none;
    border: none;
    background-color: #0C4A60;
    box-shadow: 
    2px 2px 2px 2px #03202b;
    /* 4px 4px 4px 4px gray; */
    padding: 5px;
    border-radius: 5px;
}

label:hover {
    cursor: pointer;
    opacity: 0.8;
}

label:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 2px 2px gray;
}

.rand-text {
    text-align: center;
    background: rgb(134,232,255);

}

.yellow {
    color: #EF6C33
}

.prvi {
    color: green;
}

.poslednji {
    color: red;
}

.button{
    flex-wrap: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px!important;
}

.nivo-dugme {
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
}

.dugme2{
    margin: 0 auto;
}

#dugme2 {
    border-radius: 5px;
    height: 30px;
    padding: 3px;
    color: #FFF8DC;
    outline: none;
    border: none;
    background-color: #0C4A60;
    box-shadow: 2px 2px 2px 2px #03202b, 4px 4px 4px 4px gray; 
}

#dugme2:hover {
    cursor: pointer;
    opacity: 0.8;
}

#dugme2:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 2px 2px gray;
}

#nivo2{
    width: fit-content;
}

h4{
    
    display: inline;
    text-shadow: 1px 1px gray
    
}

.pobednik {
    border-radius: 5px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    color: white;
    text-shadow: 0px 0px 5px black;
    background-color: seagreen;
}


@media(max-width:1200px) {
    h4 {
        font-size: 18px;
    }

    .playerField {
        height: 300px;
    }
    /* .image-holder {
        height: 40%;
    } */

    .type-field {
        padding: 5px;
        /* border: 1px solid; */
        height: 50%;
        margin-bottom: 0px!important;
    }

    .score-field {
        margin-top: 0;
        padding: 5px;
        height: 12%;
        /* border: 1px solid; */
    }

    
}

@media (max-width: 576px){
    /* .players {
        display: flex;
        flex-wrap: wrap!important;
    } */
    .container{
        margin: 60px auto 0!important;
        width: 100%;
        height: fit-content !important;
        padding: 0 !important;
    }

    .rand-text{
        padding: 0;
    }

    .nav {
        padding-left: 0;
        padding-right: 0;
    }

    .players {
        height: 100%!important;
        margin: 10px auto !important;
        width: 100%!important;
        display: flex;
        justify-content: center;
    }
    .playerField {
        margin: 0;
        min-width: 50%!important; 
        height: 40vh;
        /* margin-bottom: 50px; */
    }

    .type-field {
        padding: 5px;
        /* border: 1px solid; */
        height: 50%;
        margin-bottom: 0px!important;
    }

    #eren {
        margin-bottom: 10px;
    }
    #dugme2:active {
        transform: translateX(2px) translateY(2px)!important;
        box-shadow: 2px 2px 2px 2px gray!important;
    }
    .button{
        /* position: absolute !important; */
        width: 100%;
        margin: 10px auto 10px auto;
    }
    .rand-text {
        width: 100%;
        /* background-color: lightgray; */
    }
    .score-field {
        padding-top: 10px!important;
        
    }

    h6 {
        display: inline-block;
        margin-top: 5px;
    }

    label {
        width: fit-content;
        height: fit-content;
        font-size: 12px;
    }
    
}